@import url('http://fonts.cdnfonts.com/css/milestone-free-version');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Milestone Free Version', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 280px;
}
main {
    background-color: #fff;
    color: #000;
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
h1 {
    font-size: 5vw;
    font-weight: 800;
    padding: 3rem 1rem;
}
ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    height: 100%;
    width: 100%;
    max-width: 1000px;
}
li a, span {
    color: #000;
    font-weight: 400;
    font-size: 3vw;
}
li:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "texto texto"
    "facebook instagram";
}
li:first-child span {
    grid-area: texto;
    padding: 0 1rem;
}
.facebook {
    grid-area: facebook;
}
.instagram {
    grid-area: instagram;
}
ul > a {
    display: block;
}
.fab, .fa-brands, .fa-solid {
    font-size: 10vw;
    padding-top: 1rem;
}
.fa-instagram {
    background: linear-gradient(-150deg,#405DE6,#833AB4,#C13584,#FCAF45);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-square-facebook {
    color: #3b5998;
}
.fa-telegram-plane {
    color: #229ED9;
}
.fa-whatsapp {
    color: #25D366;
}
.fa-google {
    max-width: 100%;
    height: 10vw;
    padding: 0 1rem;
}
.fa-globe {
    color: #000;
}
footer a:active {
    color: var(--second-color);
    font-weight: 900;
}
h1 img {
    width: 2.5rem;
}
@media (max-width: 1000px) {
    ul {
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .fab, .fa-brands, .fa-solid {
        font-size:20vw;
        height: 20vw;
    }
    h1 {
        font-size: 10vw;
    }
    li a, span {
        font-size: 8vw;
    }
}
@media (max-width: 600px) {
    main {
        grid-template-rows: max-content 6fr;
    }
    ul {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .fab, .fa-brands, .fa-solid {
        font-size: 25vw;
        height: 27vw;
    }
    h1{
        font-size: 15vw;
        padding: 0;
        padding-top: 1rem;
    }
    li a, span {
        font-size: 12vw;
    }
    i {
        padding: 0;
    }
}